.board {
    background-color: wheat;
}
.verticalLine {
    width:1%;
    height:10%;
    background:rgb(197, 250, 247);
    margin-top: 12%;
    position: relative;
    left: 50%
}
.card {
    width: 40%;
    display: inline-block;
}
ion-slides {
    height: 100%;
    background-image: url('../../assets/images/white.png');
}

.bestmove {
    border: 3px solid black;
}

.lastPlayed {
    border: 3px solid rgb(32, 71, 199);
}

.border {
    border-top: 2px solid rgb(85, 173, 13);
    border-left: 2px solid rgb(85, 173, 13);
    border-right: 2px solid rgb(85, 173, 13);
    border-bottom: 2px solid rgb(85, 173, 13);
}