.center {
    margin: auto;
    margin-top: 35%;
    width: 98%;
    border: 2px solid rgb(252, 252, 252);
    text-align: center;
    position:absolute;
} 

.lottieplayerclass {
    position:absolute;
    height:100%;
    width:100%;
}